{
    debug
	auto_https off
	skip_install_trust
}

:80

route {
	handle_path /template/* {        
        reverse_proxy template:8085
	}

	handle_path /templates/* {        
        reverse_proxy templates:8085
	}

	handle_path /auth/* {        
        reverse_proxy authentication:8083
	}
    
    handle_path /importer/* {
        reverse_proxy importer:8081
    }

    handle_path /exporter/* {
        reverse_proxy exporter:8082
    }

    handle_path /workflowmanagement/* {
        reverse_proxy workflowmanagement:8080
    }

	handle {
        reverse_proxy frontend:8080
	}
}