authlib
fastapi
python-dotenv
Requests
urllib3
python-multipart
uvicorn
httpx
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
sqlmodel
pydantic-settings
SQLAlchemy
psycopg[binary,pool]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
apscheduler
websockets